## Transactions

* `all` or `nothing`

<div class="alert alert-danger"> 
    
 `%sql` does not support transaction, so lets execute query elsewhere

</div>

* `A` - Atomacity
* C
* `I` - Isolation
* `D` - Durability

In [1]:
%load_ext sql

In [2]:
%sql postgresql://user:password@postgresql:5432/northwind

'Connected: user@northwind'

> no matter of are you using transactions or no, `you are using transactions`.

* RAISE EXCEPTION
* BEGIN
* EXECTION WHEN

In [10]:
%%sql 
-- General View For Transaction

BEGIN; 

    -- insert 
    -- update 
    -- delete
    -- replace

COMMIT;

 * postgresql://user:***@postgresql:5432/northwind
Done.
Done.

[]

### Isolation Levels

![](images/isolation-levels.png)

* `MVCC` multi version control system
* timestamp based

In [19]:
%%sql

BEGIN; 

WITH prod_update as (
    UPDATE products 
    SET discontinued = 1
    WHERE units_in_stock < 10
    RETURNING product_id
)

SELECT * INTO last_orders_on_dicontinues FROM order_details WHERE product_id IN (SELECT product_id FROM prod_update);

DROP TABLE last_orders_on_dicontinues1;

COMMIT;

SELECT * FROM last_orders_on_dicontinues;

 * postgresql://user:***@postgresql:5432/northwind
Done.
296 rows affected.
(psycopg2.errors.UndefinedTable) table "last_orders_on_dicontinues1" does not exist

[SQL: DROP TABLE last_orders_on_dicontinues1;]
(Background on this error at: http://sqlalche.me/e/14/f405)

In [29]:
%sql DROP TABLE last_orders_on_dicontinues;

 * postgresql://user:***@postgresql:5432/northwind
Done.

[]

In [4]:
%%sql

BEGIN; 

WITH prod_update as (
    UPDATE products 
    SET discontinued = 1
    WHERE units_in_stock < 10
    RETURNING product_id
)

SELECT * INTO last_orders_on_dicontinues FROM order_details WHERE product_id IN (SELECT product_id FROM prod_update);

DELETE FROM order_details
WHERE product_id IN (SELECT product_id FROM last_orders_on_dicontinues);

SELECT count(*) FROM last_orders_on_dicontinues;

ROLLBACK;

 * postgresql://user:***@postgresql:5432/northwind
Done.
(psycopg2.errors.DuplicateTable) relation "last_orders_on_dicontinues" already exists

[SQL: WITH prod_update as (
    UPDATE products
    SET discontinued = 1
    WHERE units_in_stock < 10
    RETURNING product_id
)

SELECT * INTO last_orders_on_dicontinues FROM order_details WHERE product_id IN (SELECT product_id FROM prod_update);]
(Background on this error at: http://sqlalche.me/e/14/f405)

In [ ]:
BEGIN TRANSACTION ISOLATION LEVEL SERIALIZABLE;

SAVEPOINT backup;
ROLLBACK backup;

%%sql

SE