In [2]:
%load_ext sql
%sql postgresql://user:password@postgresql:5432/northwind

'Connected: user@northwind'

## General - Select Query Language

* `DDL` (Data Definition Language) - `crate`, `alter`, `drop`
* `DML` (Data Manipulation Language) - `select`, `insert`, `update`, `delete`
* `TCL` (Transaction Control Langauge) - `commit`, `rollback`, `savepoint`
* `DCL` (Data Control Language) - `grant`, `revoke`, `deny`

### Postgress Data Types

<table class="table" summary="Data Types" border="1">
        <colgroup>
          <col class="col1">
          <col class="col2">
          <col class="col3">
        </colgroup>
        <thead>
          <tr>
            <th>Name</th>
            <th>Aliases</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code class="type">bigint</code></td>
            <td><code class="type">int8</code></td>
            <td>signed eight-byte integer</td>
          </tr>
          <tr>
            <td><code class="type">bigserial</code></td>
            <td><code class="type">serial8</code></td>
            <td>autoincrementing eight-byte integer</td>
          </tr>
          <tr>
            <td><code class="type">bit [ (<em class="replaceable"><code>n</code></em>) ]</code></td>
            <td>&nbsp;</td>
            <td>fixed-length bit string</td>
          </tr>
          <tr>
            <td><code class="type">bit varying [ (<em class="replaceable"><code>n</code></em>) ]</code></td>
            <td><code class="type">varbit [ (<em class="replaceable"><code>n</code></em>) ]</code></td>
            <td>variable-length bit string</td>
          </tr>
          <tr>
            <td><code class="type">boolean</code></td>
            <td><code class="type">bool</code></td>
            <td>logical Boolean (true/false)</td>
          </tr>
          <tr>
            <td><code class="type">box</code></td>
            <td>&nbsp;</td>
            <td>rectangular box on a plane</td>
          </tr>
          <tr>
            <td><code class="type">bytea</code></td>
            <td>&nbsp;</td>
            <td>binary data (<span class="quote">“<span class="quote">byte array</span>”</span>)</td>
          </tr>
          <tr>
            <td><code class="type">character [ (<em class="replaceable"><code>n</code></em>) ]</code></td>
            <td><code class="type">char [ (<em class="replaceable"><code>n</code></em>) ]</code></td>
            <td>fixed-length character string</td>
          </tr>
          <tr>
            <td><code class="type">character varying [ (<em class="replaceable"><code>n</code></em>) ]</code></td>
            <td><code class="type">varchar [ (<em class="replaceable"><code>n</code></em>) ]</code></td>
            <td>variable-length character string</td>
          </tr>
          <tr>
            <td><code class="type">cidr</code></td>
            <td>&nbsp;</td>
            <td>IPv4 or IPv6 network address</td>
          </tr>
          <tr>
            <td><code class="type">circle</code></td>
            <td>&nbsp;</td>
            <td>circle on a plane</td>
          </tr>
          <tr>
            <td><code class="type">date</code></td>
            <td>&nbsp;</td>
            <td>calendar date (year, month, day)</td>
          </tr>
          <tr>
            <td><code class="type">double precision</code></td>
            <td><code class="type">float8</code></td>
            <td>double precision floating-point number (8 bytes)</td>
          </tr>
          <tr>
            <td><code class="type">inet</code></td>
            <td>&nbsp;</td>
            <td>IPv4 or IPv6 host address</td>
          </tr>
          <tr>
            <td><code class="type">integer</code></td>
            <td><code class="type">int</code>, <code class="type">int4</code></td>
            <td>signed four-byte integer</td>
          </tr>
          <tr>
            <td><code class="type">interval [ <em class="replaceable"><code>fields</code></em> ] [ (<em class="replaceable"><code>p</code></em>) ]</code></td>
            <td>&nbsp;</td>
            <td>time span</td>
          </tr>
          <tr>
            <td><code class="type">json</code></td>
            <td>&nbsp;</td>
            <td>textual JSON data</td>
          </tr>
          <tr>
            <td><code class="type">jsonb</code></td>
            <td>&nbsp;</td>
            <td>binary JSON data, decomposed</td>
          </tr>
          <tr>
            <td><code class="type">line</code></td>
            <td>&nbsp;</td>
            <td>infinite line on a plane</td>
          </tr>
          <tr>
            <td><code class="type">lseg</code></td>
            <td>&nbsp;</td>
            <td>line segment on a plane</td>
          </tr>
          <tr>
            <td><code class="type">macaddr</code></td>
            <td>&nbsp;</td>
            <td>MAC (Media Access Control) address</td>
          </tr>
          <tr>
            <td><code class="type">macaddr8</code></td>
            <td>&nbsp;</td>
            <td>MAC (Media Access Control) address (EUI-64 format)</td>
          </tr>
          <tr>
            <td><code class="type">money</code></td>
            <td>&nbsp;</td>
            <td>currency amount</td>
          </tr>
          <tr>
            <td><code class="type">numeric [ (<em class="replaceable"><code>p</code></em>, <em class="replaceable"><code>s</code></em>) ]</code></td>
            <td><code class="type">decimal [ (<em class="replaceable"><code>p</code></em>, <em class="replaceable"><code>s</code></em>) ]</code></td>
            <td>exact numeric of selectable precision</td>
          </tr>
          <tr>
            <td><code class="type">path</code></td>
            <td>&nbsp;</td>
            <td>geometric path on a plane</td>
          </tr>
          <tr>
            <td><code class="type">pg_lsn</code></td>
            <td>&nbsp;</td>
            <td><span class="productname">PostgreSQL</span> Log Sequence Number</td>
          </tr>
          <tr>
            <td><code class="type">pg_snapshot</code></td>
            <td>&nbsp;</td>
            <td>user-level transaction ID snapshot</td>
          </tr>
          <tr>
            <td><code class="type">point</code></td>
            <td>&nbsp;</td>
            <td>geometric point on a plane</td>
          </tr>
          <tr>
            <td><code class="type">polygon</code></td>
            <td>&nbsp;</td>
            <td>closed geometric path on a plane</td>
          </tr>
          <tr>
            <td><code class="type">real</code></td>
            <td><code class="type">float4</code></td>
            <td>single precision floating-point number (4 bytes)</td>
          </tr>
          <tr>
            <td><code class="type">smallint</code></td>
            <td><code class="type">int2</code></td>
            <td>signed two-byte integer</td>
          </tr>
          <tr>
            <td><code class="type">smallserial</code></td>
            <td><code class="type">serial2</code></td>
            <td>autoincrementing two-byte integer</td>
          </tr>
          <tr>
            <td><code class="type">serial</code></td>
            <td><code class="type">serial4</code></td>
            <td>autoincrementing four-byte integer</td>
          </tr>
          <tr>
            <td><code class="type">text</code></td>
            <td>&nbsp;</td>
            <td>variable-length character string</td>
          </tr>
          <tr>
            <td><code class="type">time [ (<em class="replaceable"><code>p</code></em>) ] [ without time zone ]</code></td>
            <td>&nbsp;</td>
            <td>time of day (no time zone)</td>
          </tr>
          <tr>
            <td><code class="type">time [ (<em class="replaceable"><code>p</code></em>) ] with time zone</code></td>
            <td><code class="type">timetz</code></td>
            <td>time of day, including time zone</td>
          </tr>
          <tr>
            <td><code class="type">timestamp [ (<em class="replaceable"><code>p</code></em>) ] [ without time zone ]</code></td>
            <td>&nbsp;</td>
            <td>date and time (no time zone)</td>
          </tr>
          <tr>
            <td><code class="type">timestamp [ (<em class="replaceable"><code>p</code></em>) ] with time zone</code></td>
            <td><code class="type">timestamptz</code></td>
            <td>date and time, including time zone</td>
          </tr>
          <tr>
            <td><code class="type">tsquery</code></td>
            <td>&nbsp;</td>
            <td>text search query</td>
          </tr>
          <tr>
            <td><code class="type">tsvector</code></td>
            <td>&nbsp;</td>
            <td>text search document</td>
          </tr>
          <tr>
            <td><code class="type">txid_snapshot</code></td>
            <td>&nbsp;</td>
            <td>user-level transaction ID snapshot (deprecated; see <code class="type">pg_snapshot</code>)</td>
          </tr>
          <tr>
            <td><code class="type">uuid</code></td>
            <td>&nbsp;</td>
            <td>universally unique identifier</td>
          </tr>
          <tr>
            <td><code class="type">xml</code></td>
            <td>&nbsp;</td>
            <td>XML data</td>
          </tr>
        </tbody>
      </table>

### DataTypes

Some extra datatypes supported by PostgreSQL

* arrays
* jsonb
* xml 
* geospatial 
* custom types

### `ddl`: **`CREATE`** & **`DROP`**

In [3]:
%%sql 

DROP TABLE IF EXISTS "publishers";

CREATE TABLE "publishers" (
    publisher_id  integer      NOT NULL, 
    org_name      varchar(128) NOT NULL, 
    address       text         NOT NULL,
    
    CONSTRAINT pk_publisher_id  PRIMARY KEY (publisher_id)
) WITH (
    OIDS = FALSE
);

DROP TABLE "books";

CREATE TABLE "books" (
    book_id       integer     PRIMARY KEY,
    title         text        NOT NULL,
    isbn          varchar(32) NOT NULL
);

 * postgresql://user:***@postgresql:5432/northwind
Done.
Done.
(psycopg2.errors.UndefinedTable) table "books" does not exist

[SQL: DROP TABLE "books";]
(Background on this error at: http://sqlalche.me/e/14/f405)

## `ddl`: **`ALTER`**

In [4]:
%%sql

ALTER TABLE publishers ALTER COLUMN address DROP NOT NULL;

 * postgresql://user:***@postgresql:5432/northwind
Done.

[]

In [5]:
%%sql

-- Single value inserted

INSERT INTO publishers
VALUES
(1, 'Hydra', 'Sokovia, uliza im. Zolo');

 * postgresql://user:***@postgresql:5432/northwind
1 rows affected.

[]

In [6]:
%%sql
-- multiple values inserted
INSERT INTO "publishers" 
VALUES
(2, 'Avengers', 'start industries build, ny'),
(3, 'Sinister 7', 'dc universe');

 * postgresql://user:***@postgresql:5432/northwind
2 rows affected.

[]

In [7]:
%%sql

-- quoting

INSERT INTO publishers
VALUES
(4, 'Z''ha''dum Press', 'Z''ha''dum');

 * postgresql://user:***@postgresql:5432/northwind
1 rows affected.

[]

In [8]:
%%sql

ALTER TABLE publishers ALTER COLUMN address DROP NOT NULL;

 * postgresql://user:***@postgresql:5432/northwind
Done.

[]

In [9]:
%%sql 
-- columns pesifield
INSERT INTO publishers 
(publisher_id, org_name)
VALUES
(5, 'Daily planet');

 * postgresql://user:***@postgresql:5432/northwind
1 rows affected.

[]

In [10]:
%sql SELECT * FROM PUBLISHERS

 * postgresql://user:***@postgresql:5432/northwind
5 rows affected.

[(1, 'Hydra', 'Sokovia, uliza im. Zolo'),
 (2, 'Avengers', 'start industries build, ny'),
 (3, 'Sinister 7', 'dc universe'),
 (4, "Z'ha'dum Press", "Z'ha'dum"),
 (5, 'Daily planet', None)]